<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('layoutPartial/headLayout.ejs') %>
  </head>
  <body>
    <header>
      <%- include('layoutPartial/navLayout/pageNav.ejs') %>
      <%- include('layoutPartial/navLayout/productNav.ejs') %>
    </header>
    <main>
      <%- contents %>
    </main>
    <%- include('layoutPartial/footerLayout.ejs') %>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>